.row_poster::-webkit-scrollbar{
    display: none;
}

.row_poster{
    display: flex;
    overflow-y:hidden ;
    padding: 20px;
}
.img-poster{
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
}
.img-poster:hover{
    transform: scale(1.08)
}